.vs/
TransactionManagement.Core/bin/
TransactionManagement.Core/obj/
TransactionManagement.Infrastructure/bin/
TransactionManagement/TransactionManagement.csproj.user
TransactionManagement.Infrastructure/obj/
TransactionManagement/bin/
TransactionManagement/obj/
