@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Configs</h1>
<br />
<h4>Connection string:</h4>
<h6>@ViewBag.ConnectionString</h6>
<br />
<h4>Token:</h4>
<h6>@ViewBag.Token</h6>
